apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentiment-app
  namespace: stock
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sentiment-app
  template:
    metadata:
      labels:
        app: sentiment-app
    spec:
      containers:
      - name: sentiment-container
        image: artifacts.tekuro.io/sentiment:latest
        env:
          - name: OPENAI_KEY
            valueFrom:
              secretKeyRef:
                name: openai-api-secrets
                key: key
          - name: SEARCH_KEY
            valueFrom:
              secretKeyRef:
                name: search-api-secrets
                key: key
          - name: POLYGON_API_KEY
            valueFrom:
              secretKeyRef:
                name: polygon-api-secrets
                key: key
        ports:
        - containerPort: 5000
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: sentiment-service
  namespace: stock
spec:
  selector:
    app: sentiment-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP
